*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;

}
.menu{
background-image: url(asset/pexels-omar-b-shokerat-18177326.jpg);
background-size: cover;
background-position:center;
margin-bottom: 5px;
font-size: 30px;
color: white;
margin-left: 5px;


}
h2{
    font-style: italic;
    margin-left: 300px;
}
p{
    margin-left: 50px;
    line-height: 40px;
    
}
li{
    margin-left: 10px;
}
 button{
    height: 40px;
    width: 120px;
    background-color: blue;
    border-radius: 20px;
    border: solid 2px black;
 }